<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE generatorConfiguration PUBLIC
   "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
   "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

	<classPathEntry
		location="/u01/workspace/helidon-atp-lab/src/main/libs/ojdbc-8.jar" />
	<context id="codetokyo">
		<jdbcConnection
			driverClass="oracle.jdbc.OracleDriver"
			connectionURL="jdbc:oracle:thin:@codetokyo_low?TNS_ADMIN=/app/wallet/"
			userId="helidonlab" password="TODO" />

		<javaModelGenerator
			targetPackage="io.helidon.atp.lab.entity"
			targetProject="helidon-atp-lab-finish" />
		<sqlMapGenerator
			targetPackage="io.helidon.atp.lab.mapper"
			targetProject="helidon-atp-lab-finish" />
		<javaClientGenerator
			targetPackage="io.helidon.atp.lab.mapper"
			targetProject="helidon-atp-lab-finish" type="XMLMAPPER" />

		<table tableName="emp" />
		<table tableName="dept" />
	</context>
</generatorConfiguration>