<html>
    <head>
      <title>Emp</title>
    </head>
    <body>
      <h1>Emp List</h1>
      <ul>
        {{#employees}}
          <li>employeeId</li>
          <li>firstName</li>
          <li>lastName</li>
        {{/employees}}
	  </ul>
    </body>
</html>